.ContentArea {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0px 20px;
    box-sizing: border-box;
    top: 17.5%;
}

.ElementBorder {
    height: 100px;
    background-image: url("../../../../public/img/Weather/Clear.jpg");
    background-size: cover; /* Bedekt de gehele achtergrond */
    background-position: center; /* Centreert de achtergrond */
    background-position: center bottom;
    display: flex; /* Gebruik Flexbox */
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    border-radius: 10px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    
}

.WeatherDataContainer {
    width: 100%;
    padding: 0px 12px 0px 12px;
}

.WeatherData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    color: #FFF8F8;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.Temp {
    font-size: 64px;
    font-weight: 500;
    color: #FFF8F8;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.SetLocation {
    width: auto;
    flex: 1;
    height: 40px;
    margin-bottom: 12px;
    color: #5A001E;
    border: solid 1px #FF8080;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-size: 16px;
    padding-left: 12px; /* Voeg padding aan de linkerkant toe */
    box-sizing: border-box; /* Zorgt ervoor dat padding en border worden meegerekend in de totale breedte */
}

.SearchContainer{
    display: flex;
}

.ButtonLeft, .ButtonRight {
    width: 40px;
    height: 40px;
    background-color: #DD004A;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
}
.ButtonRight {
    border-radius: 0 10px 10px 0;
}
