.ElementContainer {
    height: 100px;
    display: flex; /* Gebruik Flexbox */
    justify-content: space-between; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
}

.GroupImage {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 5px 10px 5px;
  }

  .GroupInfo {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

.GroupInfo h2 {
    color: #5A001E;
    padding: 4px;
  }

.GroupInfo p {
    color: #DD004A;
    padding: 4px;
}

.Members {
    display: flex;
    padding: 4px;
    justify-content: right;
}

.GroupInfo1 {
    text-align: left;
}

.GroupInfo2 {
    text-align: right;
}